<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{{ .Title }} &ndash; {{ .Param "title_suffix" }}</title>
    {{ $sass := resources.Get "main.scss" }}
    {{ $style := $sass | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    {{ if .IsTranslated }}
      {{ range .Translations }}
        <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .RelPermalink }}" title="{{ .Language.LanguageName }}">
      {{ end }}
    {{ end }}
    {{ $js := resources.Get "main.js" | js.Build "main.js" | minify | fingerprint }} {{ $secureJS := $js | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
  </head>
  <body>
    <nav>
      <div></div>
      <div>{{ partial "menu.html" . }}</div>
      <div></div>
    </nav>
    <main>
      <div></div>
      <div>{{ block "main" . }}{{ end }}</div>
      <div></div>
    </main>
    <footer>
      <div></div>
      <div>{{ partial "i18nlist.html" . }}</div>
      <div></div>
    </footer>
  </body>
</html>