
html {
    background-color: #a5c4dc;
}

body {
    margin: 0;
}

p, a, span, h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
}

p, a {
    font-size: 1em;
}

a:link, a:visited, a:hover, a:active {
    color: dodgerblue;
    text-decoration: none;
}

div.container {
    margin: 0;
    padding: 0 12px 0 12px;
}

div.container > div {
    max-width: 1300px;
    margin: auto;
}


.collapse {
    display: inline;
}

table.collapse {
    display: table;
}



table.collapse > tbody {
    display: table-row-group;
}

table.collapse > tr {
    display: table-row;
}

table.collapse > td {
    display: table-cell;
}

.navigation a, .navigation span {
    display: inline-block;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1em;
    color: black;
    padding: 10px;
    margin: 1px;
}

.navigation a {
    border-bottom: solid 3px darkslategray;
}

.navigation span {
    border-bottom: dotted 3px darkslategray;
}

.navigation a:hover {
    border-bottom-color: darkturquoise;
}

@media screen and (max-width: 700px) {

    .collapse, .collapse tbody, .collapse tr, .collapse td {
        display: block;
    }

    .collapse {
        width: 100%;
    }

    .navigation a, .navigation span {
        display: block;
    }

}
