<div></div>
<div>
<ul>
    
    <li>
        {{ with .Param "home_page" }}
            <span>Home</span>
        {{ else }}
            <a href="{{ .Site.LanguagePrefix }}/">Home</a>
        {{ end }}
    </li>

    <li>
        {{ with .Param "blog_page" }}
            <span>Blog</span>
        {{ else }}
            <a href="{{ .Site.LanguagePrefix }}/blog/">Blog</a>
        {{ end }}
    </li>

    <li>
        {{ with .Param "world_news_page" }}
            <span>World News</span>
        {{ else }}
            <a href="{{ .Site.LanguagePrefix }}/world-news/">World News</a>
        {{ end }}
    </li>
    
</ul>
</div>
<div></div>